*{
	text-align: center;
	font-family: Georgia, Garamond, serif;
}

.col-sm-4{
	border-style: solid;
	border-color: green;
	background-color: LightGreen;
}

.col-sm-6{
	border-style: solid;
	border-color: green;
	background-color: LightGreen;
}

#dayOfWeek1{
	font-weight: bold;
	font-size: 20px;
}

#dayOfWeek2{
	font-weight: bold;
	font-size: 20px;
}

#dayOfWeek3{
	font-weight: bold;
	font-size: 20px;
}

#dayOfWeek4{
	font-weight: bold;
	font-size: 20px;
}

#dayOfWeek5{
	font-weight: bold;
	font-size: 20px;
}

#topRow{
	padding-top: 50px;
}

#results{
	padding-top: 50px;
}
